absl-py==0.15.0
astunparse==1.6.3
badgyal @ git+https://github.com/dkappe/badgyal.git@dac524ebe189e468525758437bbcd4ccb0e62489
bleach==1.5.0
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
chess==1.9.3
flatbuffers==1.12
futures==3.1.1
gast==0.4.0
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
html5lib==0.9999999
idna==3.4
importlib-metadata==5.1.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Markdown==3.4.1
MarkupSafe==2.1.1
numpy==1.19.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
onnx==1.13.0
opt-einsum==3.3.0
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylru==1.2.1
python-chess==1.999
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
six==1.15.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.1
tensorflow-estimator==2.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
torch==1.13.0
torchinfo==1.7.1
typing-extensions==3.7.4.3
urllib3==1.26.13
Werkzeug==2.2.2
wrapt==1.12.1
zipp==3.11.0
