/* Tailwind Configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --emerald-green: #51ae8f;

  --off-black: #0e1111;
  --off-white: #f3f8f9;
  --gray: #808080;
  --light-gray: #55c6ef27;
  --dark-gray: #2e2e2e;
  --error-color: #e66e6e;

  --width-clamp: clamp(300px, 90%, 1500px);

  --desktop: 1560px;
  --laptop: 1024px;
  --tablet: 768px;
  --mobile: 480px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
  font-family: theme(fontFamily.mono);
  background-color: transparent;
  color: var(--off-black);
  scroll-behavior: smooth;
  text-decoration: none;
  z-index: 10;
}

input {
  border-radius: 0;
}

body {
  background-color: var(--off-white);
}

/* --- Responsive Font Sizes */
html {
  font-size: 16px;
}

@media only screen and (max-width: 1460px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

/* --- Custom Scroll Bar --- */

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: var(--gray);
  height: 0.5rem;
  margin: 0px 10px;
}
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.125rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background-color: var(--dark-gray);
  height: 0.4rem;
}

/* ---Custom highlight color--- */
::selection {
  background: var(--off-black); /* WebKit/Blink Browsers */
  color: var(--off-white);
}
::-moz-selection {
  background: var(--off-black); /* Gecko Browsers */
  color: var(--off-white);
}

/* ---Reusable Custom Values--- */

@layer components {
  .title-header {
    margin-bottom: theme(margin.10);
    font-size: theme(fontSize.5xl);
    font-weight: theme(fontWeight.bold);
  }

  .page-container {
    padding: theme(padding.10) theme(padding.width-clamp);
  }

  @media only screen and (max-width: 1024px) {
    .title-header {
      font-size: theme(fontSize.4xl);
      margin-bottom: theme(margin.12);
    }

    .page-container {
      padding: theme(padding.10) theme(padding.width-clamp) theme(padding.20)
        theme(padding.width-clamp);
    }
  }
}
